.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 0 10px 10px;

  box-shadow: -1px 2px 10px 2px rgba(34, 60, 80, 0.2);
}

.status {
  display: inline-block;
  margin-right: 5px;
  width: 15px;
  height: 15px;

  border-radius: 50%;
}

.online {
  composes: status;
  background-color: #83e588;
}

.offline {
  composes: status;
  background-color: #e58393;
}

.avatar {
  display: block;
  border-radius: 20%;
  background-color: gray;
}

.name {
  padding-left: 10px;
  color: #7a7b77;
}
