.sectionTitle {
  padding-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
}

.title {
  text-transform: uppercase;
  background-color: #83bfe5;
  line-height: 30px;
}

.item {
  line-height: 30px;
}

.item:nth-child(2n) {
  background-color: lightgray;
}
